body {
  margin: 0;
  background: black;
  overflow: hidden;
}

canvas {
  display: block;
}
  
  h1 {
    color: rgb(212, 31, 85);
    font-size:45px;
  }

  p1{
    color: rgb(212, 31, 85);
    bottom: 0;
    font-size: 20px;

  }
  html {
        text-align: center;
  }
.style1{
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
.style2{
  filter:none;

}
.style3{
  filter:invert(100%);

}
.redroom{
  border-color: rgb(34, 34, 34);
  background-color: rgb(212, 31, 85);
  color: rgb(34, 34, 34);
  padding: 8px 10px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}

  .topnav {
    font-size: 35px;

  }

  .footer {
    font-size: 20px;
    text-align: center;
    bottom: 0;
    }

img {
  max-width:20%;
  height:auto;
  background-color: rgb(212, 31, 85);
}

a{
  color: rgb(212, 31, 85);
}

.lightgallery1 a {
  height:auto;
}

.lightgallery1 a img {
  margin: 4px 4px 4px 4px;
    max-width:20%;
  height:auto;
  background-color: rgb(212, 31, 85);
}

button{
  border-color: rgb(34, 34, 34);

  background-color: rgb(212, 31, 85);
  color: rgb(34, 34, 34);
  padding: 15px 52px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background: linear-gradient(to right, #ff0080, #ff8c00, #ffff00, #00ff00, #0080ff, #800080);
    width: 100%;
  }
  .lightgallery1 a img{
    margin: 4px 4px 4px 4px;
    max-width:40%;
  height:auto;
  background-color: rgb(212, 31, 85);
  }
  .redroom{
    border-color: rgb(34, 34, 34);
    background-color: rgb(212, 31, 85);
    color: rgb(34, 34, 34);
    padding: 20px 80px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
  }
  button{

    background-color: rgb(212, 31, 85);
    color: rgb(34, 34, 34);
    padding: 30px 104px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    border: none;
  }
  p1{
    color: rgb(212, 31, 85);
    bottom: 0;
    font-size: 40px;
  }
  .topnav {
    font-size: 50px;
  }
}
