body {
  background: rgb(227, 253, 154);
}
  
  h1 {
    color: rgb(113, 212, 31);
    font-size:45px;
  }

  p1{
    color: rgb(113, 212, 31);
    bottom: 0;
    font-size: 20px;

  }
  html {
        text-align: center;
  }
.style1{
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
.style2{
  filter:none;

}
.style3{
  filter:invert(100%);

}
.redroom{
  border-color: rgb(227, 253, 154);;
  background-color: rgb(113, 212, 31);
  color: rgb(227, 253, 154);
  padding: 8px 10px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}

  .topnav {
    font-size: 35px;

  }

  .footer {
    font-size: 20px;
    text-align: center;
    bottom: 0;
    }

img {
  max-width:20%;
  height:auto;
  background-color: rgb(113, 212, 31);
}

a{
  color: rgb(113, 212, 31);
}

.lightgallery1 a {
  height:auto;
}

.lightgallery1 a img {
  margin: 4px 4px 4px 4px;
    max-width:20%;
  height:auto;
  background-color: rgb(113, 212, 31);
}

button{
  border-color: rgb(227, 253, 154);;

  background-color: rgb(113, 212, 31);
  color: rgb(227, 253, 154);
  padding: 15px 52px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background: rgb(227, 253, 154);
    width: 100%;
  }
  .lightgallery1 a img{
    margin: 4px 4px 4px 4px;
    max-width:40%;
  height:auto;
  background-color: rgb(113, 212, 31);
  }

  button{
    border: none;

    background-color: rgb(113, 212, 31);
    color: rgb(227, 253, 154);
    padding: 30px 104px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    border: none;
  }
  p1{
    color: rgb(113, 212, 31);
    bottom: 0;
    font-size: 40px;
  }
  .topnav {
    font-size: 50px;
  }
}
